// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.form-group {
  margin: 10px 0;
  width: 100%;

  label {
    display: block;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
  }

  textarea {
    width: 100%;
    height: 300px;
    overflow: auto;
  }
}

.article-group {
  padding: 8px 0;
}

.article-actions {
  a {
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    color: white;
    background-color: grey;
  }
}

.create-new {
  border-top: 1px solid black;
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  padding: 15px 0;
}
